{
  "singleQuote": true,
  "printWidth": 160,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "proseWrap": "never",
  "overrides": [
    {
      "files": ["**/*.yml", "**/*.yaml"],
      "options": {
        "parser": "yaml",
        "printWidth": 200
      }
    }
  ]
}